.t-aside {
  display: flex;
  width: 12rem;
  padding: 1rem;
  background: #f8f9fa;
  &-menu {
    > a {
      display: block;
      padding: .3rem 0;
      &.nuxt-link-active {
        background: #f1f1fc;
      }
    }
  }
}
.t-content {
  flex: 1;
  height: 100vh;
  padding: 1rem;
  overflow: auto;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
  overflow: auto;
  .flex-column > & {
    height: 0;
  }
  :not(.flex-column) > & {
    width: 0;
  }
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.t-code > .CodeMirror {
  font-family: Monaco, Consolas, monospace;
}
